body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff7eb3,#65c7f7);
font-family:'Segoe UI';
}

.loginBox{
background:white;
padding:40px;
border-radius:20px;
width:300px;
text-align:center;
box-shadow:0 0 30px rgba(0,0,0,.3);
}

input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:10px;
border:none;
}

button{
background:#ff7eb3;
color:white;
border:none;
padding:10px;
border-radius:10px;
width:100%;
}
